:root { /*for declaring CSS variables in the pseudo-content 'root'*/
  --site-width: 98rem;
}

html {
  font-size:  62.5%;
  box-sizing: border-box;

}
/*
  *::before *::after causes styling for before all and after all objects

*/
*,
*::before,
*::after {
  /*box sizing tells the browser to bound the padding and border within an element's width and height*/
  box-sizing: inherit;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
